<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete do %>
    <i class="fas fa-heart btn-like"></i>
    <a class="btn-like">
    <%= book.favorites.count %>
    </a>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post do %>
    <i class="fas fa-heart btn-unlike"></i>
    <a class="btn-unlike">
    <%= book.favorites.count %>
    </a>
  <% end %>
<% end %>